#carousel_modal {
  display: none;
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(13, 15, 36, 0.4);
  padding-top: 3.5rem;
}

.carousel_media {
  position: relative;
  max-width: 80%;
  margin: auto;
  display: flex;
  padding-top: 40px;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

#mediaName {
  color: #D3573C;
  font-size: 35px;
}

#closeCarousel {
  position: absolute;
  color: #D3573C;
  right: 3%;
  top: 7%;
}

.prev, .next {
  position: absolute;
  color: #901C1C;
  top: 45%;
  font-size: 70px;
}

.prev {
  left: 3%;
}

.next{
  right: 3%;
}

#mediaCarousel {
  width: auto;
  margin: auto;
  max-width: 80%;
  background-color: #fff;
}