#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    /* margin: 0 100px; */
    /* Modif Gaétan */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    /* Add */
    font-size: 36px;
    padding-left: 1rem;
    box-sizing: border-box;
}

 /* Add */
form textarea {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 5px;
    font-size: 36px;
    box-sizing: border-box;
}

h2 {
    color: #D3573C;
    font-size: 50px;
    margin: 0 0.5rem;
}

main {
    padding: 0 5rem;
}

p {
    margin: 0;
}

.tagline {
    margin-top: 1rem;
    color: #525252;
}

.imgProfile > img {
    border-radius: 50%;
}

.media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 0 3rem; */
}

.imgProfile > img {
    width: 200px;
    height: 200px;
}

.media-img,
.media-video {
    margin: 1rem 0;
    color: #901C1C;
    font-size: 1.7rem;
}

.media-img > img {
    width: 380px;
    height: 380px;
    border-radius: 5px;
}
.media-video > video {
    width: 380px;
    height: 380px;
    border-radius: 5px;
}

.media-desc {
    display: flex;
}

/* select {
    border-color: #901C1C;
    border-radius: 5px;
    padding: 10px;
    background-color: #901C1C;
    color: white;
    font-size: 18px;
    margin-left: 5px;
} */


/* Modal */

#contact_modal {
    display: none;
    z-index: 5;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(13, 15, 36, 0.4);
    padding-top: 2.5rem;
}

/* Select */

.filter-container {
    display: flex;
    font-weight: bold;
    align-items: center;
    margin-top: 20px;
}

.select-wrapper {
    position: relative;
    user-select: none;
    margin-left: 20px;
    width: 10%;
}
.select {
    position: relative;
    display: flex;
    flex-direction: column;
    border-width: 0;
    border-style: solid;
    border-color: #901C1C;
}
.select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    border-radius: 5px;
    height: 60px;
    line-height: 60px;
    background: #901C1C;
    cursor: pointer;
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: #901C1C;
}
.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: none;
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}
.custom-option.selected {
    display: none;
}
.select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 15px 0 15px;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    background-color: #901C1C;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.5s;
}
.custom-option:hover {
    cursor: pointer;
    background-color: #901C1C;
}
.custom-option.selected {
    color: #ffffff;
    background-color: #901C1C;
}

/* Select Custom Arrow */
.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: #394a6d;
}
.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: #394a6d;
}
.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}
.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}
