@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 45px;
}

.photographer_section article img {
    /* height: 150px;
    width: 150px; */
    width: 100%;
    object-fit: fill;
}

/* Menu Accessibilité */
.ally-nav {
    position: absolute;
    top: -10em;
    z-index: 100;
    width: 100%;
}

.ally-nav a {
    background-color: #fff;
    font-weight: 700;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.ally-nav a:focus,
.ally-nav a:hover {
    top: 10em;
    text-decoration: none;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
}

article a, article div {
    text-align: center;
}

#artisteProfile {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.desc p {
    margin-top: 0.5rem;
}

.city {
    color: #901C1C;
    font-size: 1.5rem;
}

.price {
    color: #b9b5b5;
}